 *{
    padding :0 ;
    margin: 0 ; 
    box-sizing: border-box; 
    outline: 0 ;
    transition: all 0.5s ease ; 
 } 
body{
    font-family :sans-serif ;
 } 
 a {
    text-decoration: none ;
    color: #fff ;
 } 
 body{
    background-image : linear-gradient(to bottom right , #721e1eb9 , #220e0e) ;
 } 
 .container{
    height:  100vh ; 
    width:100vm ; 
    display: grid ; 
    place-items: center ; 
} 
.calculator-dark{
    position: relative; 
    height:auto ;
    width:auto ; 
    padding : 20px ; 
    border-radius: 10px; 
    box-shadow: 0 0 30px rgba(0,0,0,0.5) ;
} 
.theme-toggler{
    position: absolute; 
    top:30px ;
    right:30px ;
    color: #fff ; 
    cursor: pointer; 
    z-index: 1;
} 
.theme-toggler.active{
    color: #381111 ;
} 
.theme-toggler.active::before{
    background-color: #f7f7f7cc;
} 
.theme-toggler::before{
    content: ''; 
   height: 30px; 
   width:30px ; 
   position: absolute; 
   top:50% ; 
   transform: translate(-50%,-50%); 
   border-radius: 50%; 
   background-color: #381111; 
   z-index: -1;
}  
#display{
    margin:0 10px ; 
    height: 120px; 
    width:auto ; 
    max-width:270px ; 
    display: flex; 
    align-items: flex-end; 
    justify-content: flex-end; 
    font-size: 30px; 
    margin-bottom: 20px; 
    overflow-x: scroll;
} 
#display::-webkit-scrollbar{
    display: block; 
    height: 3px; 
} 
button{
    height: 60px; 
    width: 60px; 
    border: 0; 
    border-radius: 50%; 
    margin:5px ; 
    font-size: 20px;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer; 
    transition: all 200ms ease ;
}  

button:hover{
    transform : scale(1.1) ; 
} 
 #equal {
    height: 130px; 
    width: 60px; 
    border-radius: 35px;
    
} 
.calculator-dark{
    background-color: #381111; 
} 
.calculator-dark #display{
    color: #c75353 ; 
}
.calculator-dark button#clear{
    background-color: #c75353; 
    color: #fff ; 
} 
.calculator-dark button#clear:hover{
    background-color: #a63b3b; 
}    
.calculator-dark button.btn-number{
    background-color: #f7f7f7; 
    color: #381111 ; 
} 
.calculator-dark button.btn-number:hover{
    background-color: #e5e5e5; 
} 
.calculator-dark button.btn-operator{
    background-color: black; 
    color:white ;
} 
.calculator-dark button.btn-operator:hover{
    background-color: #1a1a1a; 
} 
.calculator-dark button#equal{
    background-color: #c75353; 
    color: #fff ; 
} 
.calculator-dark button#equal:hover{
    background-color: #a63b3b; 
} 
::selection{
    background-color: #c75353; 
    color: #fff ; 
}